{% extends 'Home/base.html' %}

{% block content %}

<h2>{{ restaurant.restaurant_name }}</h2>

{% for category_key, category_data in category_items.items %}
<div class="category-section">
    <h3 class="category-title">{{ category_data.label }}</h3>
    
    <div class="category-items-horizontal">
        {% for item in category_data.items %}
        <div class="gourmet-card">
            
            <div class="card-media">
                {% if item.food_image %}
                    <img src="{{ item.food_image.url }}" class="food-image">
                {% else %}
                    <img src="/static/images/default-food.jpg" class="food-image">
                {% endif %}
            </div>

            <div class="card-content">
                <h3>{{ item.name }}</h3>
                <p>₹ {{ item.price }}</p>
                <p>{{ item.description }}</p>
            </div>

        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}

{% endblock %}